<!-- Log in to our Shopify store admin
Go to Online Store > Themes
Click Actions, then select Edit Code
Scroll to the Sections folder, then click Add A New Section
Name the section `sezzle-checkout-button`, then click Create Section
Overwrite the section template with the below code file
Paste the following snippet where the button should appear, then click Save:
	{% section 'sezzle-checkout-button' %}
	Note: this is typically in templates/cart.liquid or sections/cart-template.liquid, below the Shopify checkout button. Open the file, then search (Cmd+F or Ctrl+F) for the word 'checkout' - it is usually a button or input
Click Customize Theme
Add a product to the cart, then go to the cart page
In the left toolbar, click Sezzle Checkout Button
Make any desired changes, then click Save
	If the button is not in the desired position, either change the location of the code snippet or add applicable styling as needed.
-->

{% if section.settings.show-sezzle-button %}
<style type="text/css">
    @import url(https://fonts.googleapis.com/css?family=Comfortaa);
    .sezzle-checkout-button {
        width: auto;
        height: 40px;
        cursor: pointer;
        outline: none;
        border: transparent;
        font-family: "Comfortaa", sans-serif;
        margin-bottom: 10px;
        font-size: 14px;
        letter-spacing: normal;
        background-position: center;
        transition: background 0.8s;
    }
    .sezzle-button-logo-img {
        position: relative;
        width: 60px;
        top: 2px;
				margin: 0px 5px;
    }
    .sezzle-button-dark {
        background: #fff;
        color: #392558;
    }
    .sezzle-button-dark:hover {
        background: #eee radial-gradient(circle, transparent 70%, #eee 70%) center/15000%;
        color: #392558;
    }
    .sezzle-button-dark:active {
        background-color: #ccc;
        background-size: 100%;
        color: #392558;
        transition: background 0s;
    }
    .sezzle-button-light {
        background: #392558;
        color: white;
    }
    .sezzle-button-light:hover {
        background: #d784ff radial-gradient(circle, transparent 1%, #d784ff 1%) center/15000%;
        color: white;
    }
    .sezzle-button-light:active {
        background-color: purple;
        background-size: 100%;
        color: white;
        transition: background 0s;
    }
    .button-light {
        color: white !important;
    }
    .button-dark {
        color: #392558;
    }
</style>
<script type="text/javascript">
    function handleSezzleClick(event){
        event.preventDefault();
        event.stopPropagation();
        location.replace('/checkout?skip_shopify_pay=true');
    }
</script>
<button class="sezzle-checkout-button sezzle-button-{{section.settings.sezzle-button-theme}}" style="border-radius: {{section.settings.sezzle-button-radius}}px;" onclick="handleSezzleClick(event)">
    {{section.settings.sezzle-button-text}}<img class="sezzle-button-logo-img" src={% if section.settings.sezzle-button-theme == "dark" %} "https://media.sezzle.com/branding/2.0/Sezzle_Logo_FullColor.svg" {% else %} "https://media.sezzle.com/branding/2.0/Sezzle_Logo_FullColor_WhiteWM.svg"{% endif %} alt="Sezzle">
</button>
<style>
  {{ section.settings.sezzle-button-style }}
</style>
<script>
  {{ section.settings.sezzle-button-script }}
</script>
{% endif %}

{% schema %}
  {
    "name": "Sezzle Checkout Button",
    "settings": [
	  {
        "id": "show-sezzle-button",
        "type": "checkbox",
        "label": {"en": "Show Sezzle Button"},
        "default": true
      },
      {
        "id": "sezzle-button-theme",
        "type": "select",
        "label": {"en": "Button Theme"},
        "default": "light",
        "options": [
			{
				"value": "light",
				"label": "light"
			},
			{
				"value": "dark",
				"label": "dark"
			}
        ]
      },
      {
        "id": "sezzle-button-text",
        "type": "select",
        "label": {"en": "Button Text"},
        "default": "Checkout with ",
        "options": [
			{
				"value": "Checkout with ",
				"label": "Checkout with Sezzle"
			},
			{
				"value": "Pay with ",
				"label": "Pay with Sezzle"
			},
			{
				"value": "",
				"label": "Sezzle"
			}
        ]
      },
      {
        "id": "sezzle-button-radius",
        "type": "range",
        "label": {"en": "Button Radius"},
        "default": 0,
        "min": 0,
        "max": 50,
		"step": 1,
		"unit": {"en": "px"}
      },
      {
        "id": "sezzle-button-style",
        "type": "text",
        "label": {"en": "Custom Button Style"},
        "default": ".sezzle-checkout-button {padding: 10px 13px;}"
      },
      {
        "id": "sezzle-button-script",
        "type": "text",
        "label": {"en": "Custom Button Javascript"}
      }

	]
  }
{% endschema %}
