{% if section.settings.show-sezzle-button %}

<style>
	@import url(https://fonts.googleapis.com/css?family=Comfortaa);
	.sezzle-checkout-button {
		cursor: pointer;
		font-family: "Comfortaa", cursive !important;
		background-position: center;
		transition: background 0.8s;
		border: none;
		text-align: center;
		display: inline-block;
		min-width: fit-content;
		width: auto;
		text-decoration: none;
		text-transform: none;
		padding: 9px;
		font-size: 15px;
	}
	.sezzle-button-light {
		background-color: #392558 !important;
		color: white !important;
	}
	.sezzle-button-light:hover, .sezzle-button-light:focus {
		background-color: #d784ff !important;
	}
	.sezzle-button-light:active {
		background-color: purple !important;
	}
	.sezzle-button-dark {
		background-color: #fff !important;
		color: #392558 !important;
	}
	.sezzle-button-dark:hover, .sezzle-button-dark:focus {
		background-color: #eee !important;
	}
	.sezzle-button-dark:active {
		background-color: #ccc !important;
	}
	.sezzle-checkout-button .sezzle-button-logo-img {
		width: 70px;
		position: relative;
		top: -2px;
		vertical-align: middle;
		display: inline;
	}
</style>
<script type="text/javascript">
	function handleSezzleClick(){
		location.replace("/checkout?shop_pay_checkout_as_guest=true");
	}
</script>
<a class="sezzle-checkout-button sezzle-button-{{section.settings.sezzle-button-theme}}" href="javascript:handleSezzleClick()" style="display:none">
	{% if request.locale.iso_code == "fr" %}
		{% if  section.settings.sezzle-button-text == "Pay with" %}Payez avec {% endif %}
		{% if section.settings.sezzle-button-text == "Checkout with"%}Achetez avec {% endif %}
	{% else %}
	  {{section.settings.sezzle-button-text}}
	{% endif %}
	&nbsp;<img class="sezzle-button-logo-img" src={% if section.settings.sezzle-button-theme == "dark" %} "https://media.sezzle.com/branding/2.0/Sezzle_Logo_FullColor.svg" {% else %} "https://media.sezzle.com/branding/2.0/Sezzle_Logo_FullColor_WhiteWM.svg"{% endif %} alt="Sezzle">
	<div id="minPriceDiv" style="display:none;font-size:12px;"></div>
</a>
<script type="text/javascript">
	function copyStyles() {
		const shopifyButton = document.querySelector('[name="checkout"]');
		if (shopifyButton) {
			const shopifyButtonStyles = getComputedStyle(shopifyButton);
			const sezzleButtons = document.getElementsByClassName('sezzle-checkout-button');
			for (let i = 0; i < sezzleButtons.length; i++) {
				sezzleButtons[i].style.display = shopifyButtonStyles.display;
				sezzleButtons[i].style.margin = shopifyButtonStyles.margin;
				sezzleButtons[i].style.borderRadius = shopifyButtonStyles.borderRadius;
			}
		}
	}
	function handleMinPrice(cartTotal) {
		const minPrice = document.sezzleConfig && document.sezzleConfig.minPrice || 0;
		if (cartTotal < minPrice) {
			if (document.documentElement.lang === "fr") {
				minPriceDiv.innerHTML = "pour les achats de plus de $" + minPrice / 100;
			}
			else {
				minPriceDiv.innerHTML = "on orders above $" + minPrice / 100;
			}
			document.getElementById("minPriceDiv").style.display = "block";
		}
	}
	document.onreadystatechange = function () {
		const cartTotal = {{ cart.total_price }};
		const maxPrice = document.longTermPaymentConfig && document.longTermPaymentConfig.maxPrice || document.sezzleConfig && document.sezzleConfig.maxPrice || 250000;
		if (cartTotal > maxPrice){
			return;
		}
		copyStyles();
		handleMinPrice(cartTotal);
    }
</script>
<style>
  {{ section.settings.sezzle-button-style }}
</style>
<script>
  {{ section.settings.sezzle-button-script }}
</script>
{% endif %}

{% schema %}
  {
    "name": "Sezzle Checkout Button",
    "settings": [
	  {
        "id": "show-sezzle-button",
        "type": "checkbox",
        "label": {"en": "Show Sezzle Button"},
        "default": true
      },
      {
        "id": "sezzle-button-theme",
        "type": "select",
        "label": {"en": "Button Theme"},
        "default": "light",
        "options": [
			{
				"value": "light",
				"label": "light"
			},
			{
				"value": "dark",
				"label": "dark"
			}
        ]
      },
      {
        "id": "sezzle-button-text",
        "type": "select",
        "label": {"en": "Button Text"},
        "default": "Checkout with",
        "options": [
			{
				"value": "Checkout with",
				"label": "Checkout with Sezzle"
			},
			{
				"value": "Pay with",
				"label": "Pay with Sezzle"
			},
			{
				"value": "",
				"label": "Sezzle"
			}
        ]
      },
      {
        "id": "sezzle-button-style",
        "type": "text",
        "label": {"en": "Custom Button Style"},
        "default": ".sezzle-checkout-button {} .sezzle-button-logo-img {}"
      },
      {
        "id": "sezzle-button-script",
        "type": "text",
        "label": {"en": "Custom Button Javascript"}
      }

	]
  }
{% endschema %}
